extends layout

block css
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous")
    style.
        .btn {
        width: 240px;
        margin-right:10px;
        margin-bottom: 10px;
        }

        .spinner {
            margin-right:10px;
        }

        .hidden {
            display: none;
        }

        .errorText {
            color: red;
        }

block js
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
    script(src="/javascripts/user/mypage.js" type="text/javascript")
block header
    .header-wrap
        h1= title
        p user mypage
        p modify only password...
    script(type="text/javascript").
        status = '#{status}';
        if(status == 'fail'){
            msg = '#{msg}';
            alert(msg);
        }
block content
    .content-wrap
        form(action="/user/mypage/modify/" method="post" id="modify-form")
            .row
                .col-3
                    | ID
                .col-6
                    input(name="userId" id="userId" value=id readonly=true)
            .row
                .col-3
                    | PW
                .col-6
                    input(type="password" name="userPw" id="userPw" value=pw)
            .row
                .col-3
                    |Auth
                .col-6
                    input(type="text" name="auth" id="auth" disabled value=auth)
            .row
                .col-3
                    |LastJoin
                .col-6
                    input(type="text" name="lastJoin" id="lastJoin" disabled value=lastJoin)
            .row
                .col-3
                    |RegDate
                .col-6
                    input(type="text" name="regdate" id="regdate" disabled value=regDate)
            hr
        
        button.btn.btn-primary(type="button" id="ModifiedUser" onclick="ModifiedUserButtonClicked();")
            i.fa.fa-spinner.fa-spin.spinner.hidden(id="ModifiedSpinner")
            |  Modify
        button.btn.btn-danger(type="button" id="cancelMember" onclick="cancelMemberButtonClicked();")
            i.fa.fa-spinner.fa-spin.spinner.hidden(id="cancelMemberSpinner")
            |  cancel my membership
        